<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzhuweb.mapper.technology.TechnologyMapper">


    <resultMap id="BaseTechnology" type="com.pzhuweb.entity.Technology">

        <id property="id" column="id"/>

        <result property="name" column="name"/>

        <result property="status" column="status"/>

    </resultMap>

    <!--根据id查询-->
    <select id="getTechnologyById" resultMap="BaseTechnology" parameterType="Integer">
        select * from technology WHERE id = #{id}
    </select>

    <select id="getTechnology" resultMap="BaseTechnology">
        select * from technology
    </select>

</mapper>